{% extends "blast_db_creator/base.html" %}

{% load crispy_forms_tags %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block navigation %}
<a class="navbar-brand text-dark" href="{% url 'home' %}">BLAST Databases</a>
{% endblock %}

{% block form %}
<div 
    class="d-flex align-items-center justify-content-center top-margin mb-4" 
    data-aos="fade-up">
    <form 
        class="top-margin-f" 
        method="POST" 
        style="background-color: #B3C4BC">
        {% csrf_token %}
        <div class="border border-light p-4">
            <h4 class="d-flex align-items-center justify-content-center mb-4">
                Enter new password
            </h4>
            <p class="d-flex align-items-center justify-content-center mb-4">
                Please enter your new password twice so
                we can verify you typed it in correctly.
            </p>
            <div 
                class="border border-light p-4" 
                style="background-color: #e7e8e6">
                {{ form|crispy }}
                <div class="col text-center">
                    <button 
                        class="btn btn-dark btn-block w-100" 
                        type="submit" 
                        name="updatepassword">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}
