{% extends "blast_db_creator/base.html" %}

{% block head %}
<title>Password reset sent</title>
{% endblock %}

{% block navigation %}
<a class="navbar-brand text-dark" href="{% url 'home' %}">BLAST Databases</a>
{% endblock %}

{% block form %}
<div 
    style="background-color: #B3C4BC" 
    class=" top-margin border border-light p-3 mx-5" 
    data-aos="fade-up">
    <h4 class="d-flex justify-content-center">Password reset complete</h4>
    <p class="d-flex justify-content-center">
        Your password has been set. You may go ahead and log in now.
    </p>  
    <a class="d-flex justify-content-center" href="{% url 'login' %}">Log in</a>
</div>
{% endblock %}
