{% extends "blast_db_creator/base.html" %}

{% load crispy_forms_tags %}

{% block head %}
<title>Password reset</title>
{% endblock %}

{% block navigation %}
<a class="navbar-brand text-dark" href="{% url 'home' %}">BLAST Databases</a>
{% endblock %}

{% block form %}
<div 
    class="d-flex align-items-center justify-content-center top-margin mb-4" 
    data-aos="fade-up">
    <form 
        class="top-margin-f" 
        method="POST" 
        style="background-color: #B3C4BC">
        <div class="border border-light p-4">
            <h4 
                class="d-flex align-items-center justify-content-center mb-4">
                Reset password
            </h4>
            <p 
                class="d-flex align-items-center justify-content-center mb-4">
                Forgotten your password? Enter your email address below,
                and we’ll email instructions for setting a new one.
            </p>
            <div 
                class="border border-light p-4" 
                style="background-color: #e7e8e6">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col text-center">
                    <button 
                        class="btn btn-dark btn-block w-100" 
                        type="Submit" 
                        name="send email">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
